.container {
text-align: center;
width: 70%;
margin: auto;
}

.dice {
  display: inline-block;
  text-align: center;
  margin: 1% 3%;
}


body {
  background-color: #E8FFC1;
  font-family: 'Itim', cursive;
  color: #30475E;
}

button {
  font-family: 'Itim', cursive;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3%;
  color: #30475E;
  background-color: #CDC9C3;
}

h2 {
  font-size: 5rem;
  margin-bottom: 3%;
}

p {
  font-size: 3rem;

}

img {
  width: 80%;
}

footer {
  text-align: center;
  margin-top: 2%;
  color: #7E8A97;
}
